header{
    text-align: center;
    font-size: 40px;
    font-family: 'Brush Script MT',cursive;
    color:bisque;
    background-color: black;
}
header:hover{
    text-shadow:0px 5px maroon;
}



.d1{
    width: auto;
    height: 50px;;
    background: rgb(227,239,241);
    background: linear-gradient(3deg, rgba(227,239,241,1) 0%, rgba(162,82,23,1) 100%);
    margin-top: -18px;
    border-right: 50px linear-gradient(3deg, rgba(227,239,241,1) 0%, rgba(162,82,23,1) 100%);
    position:sticky;
   
}

.d1{
    position:sticky;
    top: -2px;
}

.d1 a{
    text-decoration: none;
    color:black;
    
}

.d1 li{
    display:inline-block;
    padding: 10px;
    margin-left: 100px;
    font-size: 25px;
    
}
.d1 a:hover{
    color: maroon;
    border-bottom: 2px solid maroon;
}
.d2{
    width:auto;
    height:auto;
    display: none;
    position: absolute;
   
    
}
.d2 li{
    display: block;
    margin-left: -15px;
   
}
.menu1:hover  .d2{
    background-color:rgb(227,239,241);
    background: linear-gradient(3deg, rgba(227,239,241,1) 0%, rgba(162,82,23,1) 100%);
    
    border-radius: 5px 15px 5px 5px;
    
    display: block;
    
    
   

}

.d2 a:hover{
    background-color:bisque;
    padding: 5px;
    border-radius: 5px 15px 5px 5px;
}

/* code for header and nav bar--------------------------------------------------------------- */

.div1{
    margin-top: -2px;
    width:auto;
    height:300px;
    overflow: hidden;
}

.div2{
    margin-top: -900px;
    text-align: center;
    font-size: 50px;
}

.div3{
    background-color:blanchedalmond;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div4{

    width:500px;
    height: 600px;
    background-color: blanchedalmond;
    text-align: center;
    
}

.div5{
    width:500px;
    height:800px;
    background-color:blanchedalmond;
    
}

.div5 img{
    align-content: center;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 5px;
}

.div5 p{
    margin-left: 190px;
    font-size: 30px;
    margin-top: -2px;
}

.div6{

    width:500px;
    height: 800px;
    background-color: blanchedalmond;
    text-align:justify;



}

.div6 h2{

    text-align: center;
}
.div6 p{
    margin-left: 10px;
    margin-right: 10px;
}

.form1 input[type=text]{
    width: 200px;
    border-radius: 5px 15px 5px 5px;
}

.form1 input[type=email]{
    width:200px;
    border-radius: 5px 15px 5px 5px;
}
.div6 input[type=submit]{
    width:125px;
    height:50px;
    text-align: center;
    margin-left: 150px;
    border-radius: 5px 15px 5px 5px;
    border: 5px groove gray;
    font-size: 20px;
}

.div6 textarea{
    width:250px;
    height:150px;
    margin-left: 120px;
    margin-top: -35px;
    border-radius: 5px;
    border:5px;
    box-shadow:0px 0px 5px 0px  red;
}
.form1 label{

    width:100px;
    height:50px;
    display: inline-block;
    margin-left: 15px;

}

.form1 p{
    margin-left: 20px;
}
    
