:root{
    --background:pink;
    --font-color:maroon;
    --text-position:justify;
}

.div1 h1{
    --text-position:center;
    text-align: var(--text-position);
}
div1{
    margin-top: 50px;
    --shadow:0px 0px 3px 3px gold, 0px 0px 15px 15px maroon;
    width:500px;
    height:300px;
    background-color: var(--background);
    color:var(--font-color);
    text-align: var(--text-position);
    box-shadow: var(--shadow);
    padding:10px;
}

div2{
    width:40px;
    height:40px;
    background-image: url(/HTML/Image/bee.jpg);
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 100px;
    animation-name: animation;
    animation-duration: 15s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    position:relative;
}

@keyframes animation{
    0%{left:0px; top:0px}
    10%{left:100px; top:100px;}
    25%{left:200px; top:0px}
    50%{left:200px; top:200px}
    75%{left:0px; top:200px}
    100%{left:0px; top:0px;}

}

div3{
    width:200px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background-color: maroon;
    border-radius: 10px;
    border: 2px solid gold;
    animation-name: div3;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    position:relative;
  

}

@keyframes div3{
   
    0%{background-color:maroon;left:0px; top:0px}
    0%{border:2px solid gold;}
    25%{background-color: gold;left:200px; top:00px;}
    25%{border:2px solid maroon;}
    25%{border-radius: 50%;}
   
    25%{text-align: right;}
    50%{background-color: green;left:200px; top:200px;}
    50%{border:2px solid blue;}
    50%{text-align: center;}
    75%{background-color: blue;left:0px; top:200px;}
    75%{border:2px solid green;}
    75%{text-align: left;}
    100%{background-color: maroon;left:0px; top:0px;}

}

div4{
    width:300px;
    height:200px;
    background-image: url(/HTML/Image/2.jpg);
    background-repeat: no-repeat;
    position:relative;
    animation-name: div4;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes div4{
    0%{background-image: url(/HTML/Image/2.jpg); left:0px; top:0px;}
    0%{background-repeat: no-repeat;}
    25%{background-image: url(/HTML/Image/Sky.jpg); left:200px; top:0px;}
    25%{background-repeat: no-repeat;}
    50%{background-image: url(/HTML/Image/Ocean.jpg); left:200px; top:200px;}
    50%{background-repeat: no-repeat;}
    75%{background-image: url(/HTML/Image/wild-flowers-1.jpg); left:0px; top:200px;}
    75%{background-repeat: no-repeat;}
    100%{background-image: url(/HTML/Image/2.jpg); left:0px; top:0px;}
    100%{background-repeat: no-repeat;}
    


}


.div5 button{
    width:150px;
    height:50px;
    background-color: brown;
    transition: width,background-color, 2s;
}

.div5 button:hover{
    width: 300px;
    background:linear-gradient(to right,
    pink 0%,
    pink 25%,
    gold 50%,
    gold 100%);
}

div6 img{
    transition: transform 2s;
}

div6 img:hover{
    transform:rotate(70deg);
}

div7 img{
    transition: transform 2s;
}

.div7 img:hover{
    transform:translate(1000px, 0px);


}

.container{

    height:700px;
    background-color:azure;
    border: 2px groove black;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 50px 300px 80px;
    grid-gap: 10px;
    grid-template-rows: 100px 300px;
    
    
    
}

.header{
  
    
    grid-column: 1/6;
    text-align: center;
    border: 2px solid maroon;

}

.menu{
 
   
   
    grid-column: 1/6;
    text-align: center;
    border: 2px solid maroon;
}

.sidebar{
    
    grid-row:3/5;
    grid-column: 1/2;
    border: 2px solid maroon;
    text-align: center;
}

.content{

    grid-column: 2/6;
    border: 2px solid maroon;
    padding: 20px;
  
    

}

.footer{
   
    grid-column:2/6;
    border: 2px solid maroon;
    text-align: center;
}
.d2{
    width:200px;
    height:200px;
    border-radius: 10px;
    background-color: aqua;
    display: none;
    position: absolute;
}

.d2 li a{
    text-decoration:none;
    list-style: none;
}

.d2 li {
    list-style: none;
    display:block;
    

}

d1 li:hover .d2{
    display:block;
}

.did2{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: none;
    position: absolute;
    border-radius: 10px;
    border:2px solid red ;
}

.consultation li{
    list-style: none;
}

.did2 p{
    display:block;
    text-align: justify;

}

.consultation li:hover .did2{
    display: block;
   
}