*{
    box-sizing: border-box;
    
}

.container1{
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    color:aliceblue;
    font-size: larger;
}

.div1{
    width:100%;
    background-color:#0A210F;
    height:50px;
   
}

.div1 li{
 display:inline-block;
 padding-left: 10px;
 margin-left: 20px;

    
}

.div1 li a:hover{
   border-bottom: 2px solid white;
   
}

.div1 li a{
    text-decoration: none;
    color:white;
}

.ul1{
    float:left;
}

.ul2{
    float:right;
    padding-right: 70px;
    
}




.div3{
    width:100%;
    background-color: rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%;
    font-size: larger;
    margin-top: -30px;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(100px, auto); 
    
}



.div4 img{
    width:80px;
    height:60px;
    margin-left: 60px;
   
    border-radius: 10px;
   margin-top: -20px;
   
}


.div4 h4{
    
    float:right;
    margin-right:210px;
    margin-top: 18px;
    color:grey;
    text-decoration:none;
    margin-top: 0px;
    
   
}


.div4 h4:hover{
    color: black;
    border-bottom:2px solid grey;

    
   
   
}

.div5{
    margin-top: -25px;
}



.div5 .ul3 li{
    display:inline-block;
    padding-left: 20px;
    
    
}

.div5 .ul3 li a{
    text-decoration: none;
    color:black;
}


.ul4{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    margin-top: -50px;
    margin-right: 100px;
    text-decoration: none;
   
   
}
.ul4 li{
    margin-right: 10px;
    text-decoration: none;
    list-style-type: none;
    

  
}
.div5 .ul4 li a{
    text-decoration: none;
}
.ul4 i{
    font-size: 25px;
    color: blue;
}


.div6{
    height:100px;
    background-color: grey;
    grid-column:1/4;
    margin-top: -50px;
   

}

.div6 h1{
   margin-left: 60px;
   margin-top: 20px;
   
    
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    color:dodgerblue;
    font-size: larger;
    margin-top: 100px;
    grid-column-gap:50px;
    
}

.div7{
    background-color: grey;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    margin-left: 200px;
    border:2px groove grey;
    color:black;
}

.div7 input[type=button]{
    width:100px;
    height:40px;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    margin-top: -5px;
    font-size: 18px;
}

.div8{
    background-color: grey;
    width:500px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 130px;
    border: 2px groove grey;
  
}

.div8 iframe{
    padding: 10px;
    width:450px;
    height:470px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

}

.div8 input[type=button]{
    width:250px;
    height:40px;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    margin-top: -5px;
    font-size: 18px;
    margin-left:125px;

    
}

.container3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap:150px;
   
    
}

.div9{
    width:500px;
    padding: 10px;
    text-align: justify;
    font-size: large;
    margin-left: 200px;
}


.container3 .div10 {
    background-color: dodgerblue;
    width:400px;
    height:800px;
   
  
   
    

}

 form{
    margin-left: 100px;
    margin-top: 50px;
    white-space: nowrap;
   
}

label{
    
        width:100px;
        display:block;
        font-size: 20px;
}

form input[type=text]{
    border-top-right-radius: 20px;
    width:220px;
    height:25px;
    border: none;
 

}

form input[type=email]{
    border-top-right-radius: 20px;
    width: 220px;
    height:25px;
    border:none;
    
    
}

form textarea{
    width:220px;
    border-top-right-radius: 20px;
   
    
}

form input[type=submit]{
    width:150px;
    height:50px;
    margin-left: 40px;
    border:none;
    border-radius: 5px;
}

.container3 .div11{
    grid-column: 1/3;
}
